In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2022-07-21 00:26:00,-33.0153,27.9116,61.66,83,97,5.77
1,1,Punta Arenas,CL,2022-07-21 00:24:07,-53.1500,-70.9167,32.11,86,40,23.02
2,2,Atuona,PF,2022-07-21 00:24:02,-9.8000,-139.0333,77.56,75,3,14.36
3,3,Ban Nahin,LA,2022-07-21 00:26:01,18.2418,104.2122,77.32,95,99,1.52
4,4,Norman Wells,CA,2022-07-21 00:26:01,65.2820,-126.8329,78.84,29,75,4.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2022-07-21 00:24:02,-9.8000,-139.0333,77.56,75,3,14.36
3,3,Ban Nahin,LA,2022-07-21 00:26:01,18.2418,104.2122,77.32,95,99,1.52
4,4,Norman Wells,CA,2022-07-21 00:26:01,65.2820,-126.8329,78.84,29,75,4.61
5,5,Guerrero Negro,MX,2022-07-21 00:26:01,27.9769,-114.0611,79.90,48,12,16.62
10,10,Hilo,US,2022-07-21 00:26:04,19.7297,-155.0900,83.28,76,75,8.05
12,12,Hithadhoo,MV,2022-07-21 00:23:47,-0.6000,73.0833,80.42,76,100,7.05
14,14,Coos Bay,US,2022-07-21 00:26:05,43.3665,-124.2179,75.31,88,100,14.97
25,25,Las Palmas,ES,2022-07-21 00:26:08,28.4204,-14.0131,75.99,50,0,16.11
28,28,Kloulklubed,PW,2022-07-21 00:26:10,7.0419,134.2556,81.10,73,78,2.68
32,32,Vaini,TO,2022-07-21 00:24:06,-21.2000,-175.2000,80.76,78,20,9.22

In [23]:
preferred_cities_df.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2           Atuona      PF     77.56  -9.8000 -139.0333
3        Ban Nahin      LA     77.32  18.2418  104.2122
4     Norman Wells      CA     78.84  65.2820 -126.8329
5   Guerrero Negro      MX     79.90  27.9769 -114.0611
10            Hilo      US     83.28  19.7297 -155.0900
12       Hithadhoo      MV     80.42  -0.6000   73.0833
14        Coos Bay      US     75.31  43.3665 -124.2179
25      Las Palmas      ES     75.99  28.4204  -14.0131
28     Kloulklubed      PW     81.10   7.0419  134.2556
32           Vaini      TO     80.76 -21.2000 -175.2000

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,77.56,-9.8000,-139.0333,Villa Enata
3,Ban Nahin,LA,77.32,18.2418,104.2122,
4,Norman Wells,CA,78.84,65.2820,-126.8329,Heritage Hotel
5,Guerrero Negro,MX,79.90,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
10,Hilo,US,83.28,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Hithadhoo,MV,80.42,-0.6000,73.0833,Scoop Guest House
14,Coos Bay,US,75.31,43.3665,-124.2179,Best Western Holiday Hotel
25,Las Palmas,ES,75.99,28.4204,-14.0131,Casillas De Morales 59.
28,Kloulklubed,PW,81.10,7.0419,134.2556,Storyboard Beach Resort
32,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))